* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  height: auto;
}
main aside {
  width: 20%;

  background-color: #ddd;
  border-right: 2px solid black;
}

main aside ul {
  list-style-type: none;
  padding: 20px;
}

main aside ul li {
  margin-bottom: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  border-bottom: 1px solid #444;
  padding: 10px;
}

main section {
  width: 80%;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

main #seccionFoto div {
  width: 150px;
  height: 150px;
  background-color: gray;
  border: 1px solid black;
}
